<h1>Register</h1>
 <form method="post" action="/createaccount">
 <table style="width:50%">
    <tr>
        <td><span>{{.ErrorMessage}}</span></td>
    </tr>
    <tr>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </tr>
    <tr>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </tr>
</table>
     <button type="submit">Register</button>
 </form>
 <form method="GET" action="/">
     <button type="submit">Back</button>
 </form>