<h1>Edit Details</h1>
<form method="POST" action="/update">
<table style="width:50%">
    <tr>
        <td><span>{{.ErrorMessage}}</span></td>
    </tr>
    <tr>
        <th style="text-align:left">Attribute</th>
        <th style="text-align:left">Value</th>
    </tr>
    <tr>
        <td>ID</td>
        <td><input type="text" id="id" name="id" value = {{.UserID}} readonly></td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td><input type="text" id="fullName" name="fullName" value = {{.Fullname}} ></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="email" id="email" name="email" value = {{.Email}} ></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" id="address" name="address" value = {{.Address}} ></td>
    </tr>
        <tr>
        <td>Telephone</td>
        <td><input type="telephone" id="telephone" name="telephone" value = {{.Telephone}} ></td>
    </tr>
</table>
     <button type="submit">Save</button>
 </form>
