<h1>Login</h1>
 <form method="post" action="/login">
 <table style="width:50%">
    <tr>
        <td><span>{{.ErrorMessage}}</span></td>
    </tr>
    <tr>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </tr>
    <tr>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </tr>
</table>
     <button type="submit">Login</button>
 </form>
 <form method="post" action="/forgot">
     <button type="submit">Forgot Password</button>
 </form>
<table style="width:50%">
    <form method="post" action="/register"> 
        <button type="submit">Register</button>
    </form>
</table>