<h1>Reset Password</h1>
 <form method="post" action="/resetpwd">
 <table style="width:50%">
    <tr>
        <td><span>{{.ErrorMessage}}</span></td>
    </tr>
    <tr >
        <input type="hidden" id="token" name="token" value = {{.ResetToken}}>
    </tr>
    <tr>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </tr>
        <tr>
        <label for="email">Confirm Password</label>
        <input type="password" id="password1" name="password1">
    </tr>
</table>
     <button type="submit">Reset</button>
 </form>
 <form method="GET" action="/">
     <button type="submit">Back</button>
 </form>