<h1>Forgot Password</h1>
 <form method="post" action="/resetinit">
 <table style="width:50%">
    <tr>
        <td><span>{{.ErrorMessage}}</span></td>
    </tr>
    <tr>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </tr>
</table>
     <button type="submit">Send Reset Link</button>
 </form>
 <form method="GET" action="/">
     <button type="submit">Back</button>
 </form>