<h1>View Details</h1>
<form method="post" action="/edit">
<table style="width:50%">
    <tr>
        <td><span>{{.ErrorMessage}}</span></td>
    </tr>
    <tr>
        <th style="text-align:left">Attribute</th>
        <th style="text-align:left">Value</th>
    </tr>
        <tr>
        <td>ID</td>
        <td><input type="text" id="id" name="id" value = {{.UserID}} readonly></td>
    </tr>
    <tr>
        <td>Full Name</td>
        <td><input type="text" id="fullName" name="fullName" value = {{.Fullname}} readonly></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="email" id="email" name="email" value = {{.Email}} readonly></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" id="address" name="address" value = {{.Address}} readonly></td>
    </tr>
        <tr>
        <td>Telephone</td>
        <td><input type="telephone" id="telephone" name="telephone" value = {{.Telephone}} readonly></td>
    </tr>
</table>
     <button type="submit">Edit</button>
 </form>
<form method="post" action="/logout">
     <button type="submit">Logout</button>
 </form>
